<div class="submenu">
    <div class="row">

        <div class="col-xs-12">

            <ul class="submenudown">
                <li>
                    <a href="#/category/7">Bags</a>
                </li>
                <li>
                    <a href="#/category/8">Scarves</a>
                </li>
                <li>
                    <a href="#/category/34">Hair</a>
                </li>
                <li>
                    <a href="#/category/35">Phone Cases</a>
                </li>
            </ul>
        </div>

    </div>

</div>