<!--
    <div class="slidesel" >
        <div skrollr class="row marginer">
            <div class="col-xs-12">
                <a href="#"><center><img src="img/inpressions.jpg"></center></a>
            </div>
       </div>
-->

<div class="wow slideInRight animated banner-image">
    <a href="#">
        <center>
            <img src="img/banner.jpg" class="img-responsive">
        </center>
    </a>
</div>	
<div class="product-img">
    <div class="container">
        <div class=catogory> <span>Catergories</span>
        </div>
    </div>
    <section class="wow slideInLeft animated">
    <div  class="bckgrnd-sliderup">
        <div class="imageset">
            <a ng-click="slidesetprev(showslideset1);">
                <div class="toggle left">
                    <img src="img/leftbanner.png" alt="" ng-show="showslideset1==1">
                </div>
            </a>
            <a ng-click="slidesetnext(showslideset1);">
                <div class="toggle right">
                    <img src="img/rightbanner.png" alt="" ng-show="showslideset1==0">
                </div>
            </a>

            <div style="overflow:hidden;height:250px;text-align: center;">
                <span ng-repeat="slider in sliders1">
                <span ng-show="$index<4" class="pickweek">
                    <div class="proprice proprice2">
                        <a href="#">
                            <h5> {{slider.name}}</h5>
                        </a>
                    </div>
                    <a href="#"><img src="{{slider.image|imagepath2}}" class="slideset1" ng-show="showslideset1==0"></a>
                   
                </span>
                <span ng-show="$index>=4" class="pickweek">
                    <div class="proprice proprice2">
                    <a href="#">
                        <h5> {{slider.name}}</h5>
                    </a>
                </div>
                    <a href="#"><img src="{{slider.image|imagepath2}}" class="slideset1 animated slideInRight" ng-show="showslideset1==1"></a>
                
                </span>
                </span>



            </div>
        </div>

    </div>
</section>

    <!--
    <script>
        $('#myCarousel').carousel({
  interval: 4000
})

$('.carousel .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
    </script>
-->
</div>

<div class="wow slideInRight animated bind-all">
    <div class="banner-image ng-scope">
        <a href="#">
            <center>
                <img src="img/inpressions.jpg" alt="" class="img-responsive">
            </center>
        </a>
    </div>

    <div class="text-image">
        <h4>Impressions of Excellence</h4>
        <div class="button-view">
            <a href="#">View All</a>
        </div>
    </div>
</div>
<div class="product-imgdown">
    <div class="container">
        <div class="catogory">
            <span>Whats Trending</span>
        </div>
    </div>
    <div class="wow slideInLeft animated bckgrnd-sliderdwn">
        <div class="imageset">
            <a ng-click="slidesetprev(showslideset1);">
                <div class="toggle left">
                    <img src="img/leftbanner.png" alt="" ng-show="showslideset1==1">
                </div>
            </a>
            <a ng-click="slidesetnext(showslideset1);">
                <div class="toggle right">
                    <img src="img/rightbanner.png" alt="" ng-show="showslideset1==0">
                </div>
            </a>

            <div style="overflow:hidden;height:250px;text-align: center;">
                <span ng-repeat="slider in sliders">
                <span ng-show="$index<4" class="pickweek">
                
                    <a href="#"><img src="{{slider.image|imagepath1}}" class="slideset1 animated slideInLeft" ng-show="showslideset1==0"></a>
                </span>
                <span ng-show="$index>=4" class="pickweek">
                    <a href="#"><img src="{{slider.image|imagepath1}}" class="slideset1 animated slideInRight" ng-show="showslideset1==1"></a>
                </span>
                </span>



            </div>
        </div>
    </div>


    <!--
    <script>
        $('#myCarousel1').carousel({
  interval: 4000
})

$('.carousel1 .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
    	next = $(this).siblings(':first');
  	}
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
    </script>          
-->
</div>
<div class="clearfix"></div>
<div class="jwellerybck">
    <div class="container">
        <div class="row">
            <div class="col-xs-2"></div>
            <div class="col-xs-4 border-jewell">
                <div class="text-jellwery">
                    <h5>JEWELLERY CARE</h5>
                    <p>
                        ‘Customer is God’; we believe in it from the day 1 & therefore we not only know for the best sales service but also for the great after sales service. Our Services will make you realize that why we known as the chosen brand for artistic jewelry & the excellent professional services.
                    </p>
                </div>
            </div>
            <div class="col-xs-4 endorse">
                <div class="text-client">
                    <h5>CLIENT ENDORSEMENT</h5>
                    <p>
                        I just received my order and love my purchases! This was my first experience buying Magic Mirror jewellery online.Thank you for your support. Look forward to being an ongoing Magic Mirror customer.
                    </p>
                </div>
            </div>
            <div class="col-xs-2"></div>
        </div>
    </div>
</div>