<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							Delivery
                </span>

            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">



            </div>
        </div>
    </div>
    <div class="maincontent">

        <h2 class="articleheader">Delivery</h2>
        <div class="articlecontent">
            <p>Lyla wants to make sure you get the things she loves as quickly as possible. Check out Lyla&rsquo;s delivery options and find the one that fits you.</p>
            <p><strong>U.K. Delivery</strong>
            </p>
            <p>Free Delivery on orders over &pound;15.</p>
            <p>&pound;3 delivery cost for anything &pound;15 or under</p>
            <p>Next Day Delivery will cost &pound;5.</p>
            <p><strong>International Delivery</strong>
            </p>
            </p>
            <p>Free Delivery for international for orders over &pound;20.</p>
            <p>&pound;5 delivery for order for anything &pound;20 or under.</p>
        </div>
    </div>
</div>
