
<div class="clearfix"></div>
<footer>
  <div class="container">
   <div class="row">
 
   <div class="pull-right social-iconfoot">
       <a href="#"><i class="fa fa-facebook"></i></a>
       <a href="#"><i class="fa fa-twitter"></i></a>
       <a href="#"><i class="fa fa-pinterest-p"></i></a>
       <a href="#"><i class="fa fa-youtube-play"></i></a>
       <a href="#"><i class="fa fa-play"></i></a>
   </div>
      </div>
    <div class="row">
        <div class="footer-pad">
       <div class="col-xs-2"></div>
        <div class="col-xs-2">
        <h5>My Account</h5>
        <ul class="footer-ul">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Forgot/Changed Password</a></li>
        </ul>
        </div>
        <div class="col-xs-2">
             <h5>Help</h5>
             <ul class="footer-ul">
                 <li><a href="#">Contact Us</a></li>
                 <li><a href="#">Shipping Information</a></li>
                 <li><a href="#">FAQ</a></li>
                 <li><a href="#">Size Guide</a></li>
                 <li><a href="#">Jwellery Care</a></li>
        </ul>
        </div>
        <div class="col-xs-2">
             <h5>Company</h5>
             <ul class="footer-ul">
            <li><a href="#">About Us</li>
                 <li><a href="#">The World of Magic Mirror</a></li>
                 <li><a href="#">Find a Store</a></li>
                 <li><a href="#">Terms and Condition</a></li>
                 <li><a href="#">Sitemap</a></li>
        </ul>
        </div>
        <div class="col-xs-2">
            <h5>NewsLetter</h5>
            <p>
                Join our mailing list to recive updates
            </p>
            <input type="text" placeholder="Enter Email" class="subscribe-email">
            <button class="Subscribe pull-right">Subscribe</button>
        </div>
         <div class="col-xs-2"></div>
    </div>
    </div>
    <div class="text-center copyright-foot">
        &#169; Copyright 2015 <a href="#">Magic Mirror</a>
    </div>
</footer>



<!--
<div class="clearfix"></div>
<div class="footer">
    <div class="newsletter  fadeInDown {{bottommenu}}" myfirstloadclass data-wow-delay="0.6s">
        <div class="row">
            <div class="col-xs-4">
                <div class="text-center fotternav"><a href="#returns" ng-class="returnsactive">RETURNS</a> &nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;<a href="#delivery" ng-class="deliveryactive">DELIVERY</a>
                </div>
            </div>
            <div class="col-xs-2">
                <div class="text-center">{{msgg}}
                </div>
            </div>
            <div class="col-xs-6">
                <span style="position:absolute;right:270px;">Worldwide Shipping<span>
                        <div class="text-center">Sign up for our newsletter! &nbsp;&nbsp;&nbsp;
                            <input type="email" class="form-control newsletteremail" ng-model="uemail" placeholder=""> <a class="btn btn-primary" ng-click="newsletter(uemail)">Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
-->
<!--
               <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54886004-1', 'auto');
  ga('send', 'pageview');
console.log("ABC");
</script>
-->
            <!--div class="social">
                <div class="row">
<!--
                    <div class="col-xs-2">
                        <a  class=" fadeInLeft" myfirstloadclass >
                            <img src="img/iosicon.png" class="img iosicon pulseanimation">
                        </a>
                    </div>
                    <div class="col-xs-2">
                        <a class=" fadeInLeft" myfirstloadclass  data-wow-delay="0.1s">
                            <img src="img/androidicon.png" class="img androidicon pulseanimation">
                        </a>
                    </div>
-->
                    <!--a href="#/wholesaler" class="btn btn-primary left" style="float: right;
margin-right: 133px;">Wholesale</a>
                    <div class="col-xs-12">
                        <div class="pull-right">
                            <a href="https://twitter.com/ZibaCollection" target="_blank" class=" fadeInRight" myfirstloadclass  data-wow-delay="0.3s">
                                <img src="img/twitter.png" class="socialicons tadaanimation">
                            </a>
                            <a href="http://pinterest.com/zibacollection/" target="_blank" class=" fadeInRight" myfirstloadclass  data-wow-delay="0.4s">
                                <img src="img/pinterest.png" class="socialicons tadaanimation">
                            </a>
                            <a href="https://plus.google.com/b/116768935143075481314/116768935143075481314/about" target="_blank" class="wow fadeInRight" data-wow-delay="0.5s">
                                <img src="img/googleplus.png" class="socialicons tadaanimation">
                            </a>
                            <a href="https://www.facebook.com/pages/Ziba-Collection/284068054986182" target="_blank" class="wow fadeInRight" data-wow-delay="0.6s">
                                <img src="img/facebook.png" class="socialicons tadaanimation">
                            </a>
                            <a href="http://zibaacc.tumblr.com/" target="_blank" class=" fadeInRight" myfirstloadclass  data-wow-delay="0.7s">
                                <img src="img/tumbler.png" class="socialicons tadaanimation">
                            </a>
                        </div>
                    </div>
                </div>
            </div-->
              
            <!--div class="footernav  fadeInDown" myfirstloadclass  data-wow-delay="0.8s">
                <div class="row">
                    <div class="col-xs-6">
                        <ul class="nav nav-pills">
                            <li>
                                <a>Phone: 0845 8621915</a>
                            </li>
                            <li>
                                <a>Email: sales@zibacollection.co.uk</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-6">
                        <ul class="nav nav-pills pull-right">
                            <li>
                                <a>Company</a>
                            </li>
                            <li>
                                <a>Legal Notice</a>
                            </li>
                            <li>
                                <a>Press</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div-->
<!--        </div>-->