<div class="submenu">
    <div class="row">
        <div class="col-md-4">
            <img src="img/handmade.jpg" class="img img-pad" alt="">
        </div>
        <div class="col-md-4">
            <h3>New In</h3>
            <ul class="submenudown">
                <li>
                    <a>Necklace</a>
                </li>
                <li>
                    <a>Bracelets</a>
                </li>
                <li>
                    <a>Earings</a>
                </li>
                <li>
                    <a>Rings</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Articles</h3>
            <ul class="submenudown">
                <li>
                    <a>Necklace</a>
                </li>
                <li>
                    <a>Bracelets</a>
                </li>
                <li>
                    <a>Earings</a>
                </li>
                <li>
                    <a>Rings</a>
                </li>
            </ul>
        </div>
    </div>

</div>