<div class="header" skrollr class="row marginer">

    <div class="header-bar">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div class="rupee">
                        <select>
                            <option value="Rupee">INR Rs</option>
                            <option value="Dollar">Dollar $</option>
                        </select>
                    </div>
                </div>
                <div class="col-xs-9">
                    <div class="login-tab pull-right">
                        <ul>
                            <li class="welcome"><a href="#">Welcome Guest Login</a>
                            </li>
                            <li><a href="#">New User</a>
                            </li>
                            <li class="wish-list"><a href="#"><i class="fa fa-star"></i>Wish List</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gift"></i>Gift Card</a>
                            </li>
                            <li><a href="#">Track Your Order</a>
                            </li>
                            <li class="bag"><a href="#"><i class="bag"></i>Shoping Cart(0)</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <a href="#"><img src="img/logo.png">
                </a>
            </div>
            <div class="col-xs-6">
                <div id="imaginary_container">
                    <div class="input-group stylish-input-group pull-right">
                        <input type="text" class="form-control" placeholder="">
                        <span class="input-group-addon">
                        <button type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
            <center>
                <a href="http://instagram.com/lyla_loves" target="_blank">
                    <img src="img/insta.png" class="socialicons">
                </a>
                <a href="https://twitter.com/lyla_loves" target="_blank">
                    <img src="img/twitter.png" class="socialicons">
                </a>
                <a href="https://www.facebook.com/lylaloves" target="_blank">
                    <img src="img/facebook.png" class="socialicons">
                </a>
                <a href="http://www.pinterest.com/lloves1548/" target="_blank">
                    <img src="img/pinterest.png" class="socialicons">
                </a>
                <a href="https://www.tumblr.com/blog/lylalovesblog" target="_blank">
                    <img src="img/tumbler.png" class="socialicons">
                </a>
            </center>
-->

<!--
        <div class="col-xs-3">
            <div myfirstloadclass class="headerright fadeInRight">
                <a href="#/home" class="" ng-class="ishome">
                    <img src="img/butterfly.png" alt="" class="butterfly-top">
                </a>
            </div>
        </div>
-->