<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
                    Home / lylaloves</a>
                </span>
            </span>
    </div>

</div>

<style>

    /* ---- .item ---- */

    #isotope .item {
        float: left;
        width: 25%;
        margin: 5px 0;
    }
    #isotope .item img {
        width:  97%;
    }

</style>

<div class="container">
    <h4>Lyla Loves</h4>
    <div id="isotope">
        <div class="item"><img src="img/iheart.jpg"></div>
        <div class="item"><img src="img/iheart.jpg"></div>
        <div class="item"><img src="img/iheart.jpg"></div>
        <div class="item"><img src="img/iheart.jpg"></div>
        <div class="item"><img src="img/iheart.jpg"></div>
        <div class="item"><img src="img/iheart.jpg"></div>
        <div class="item"><img src="img/iheart.jpg"></div>
        <div class="item"><img src="img/iheart.jpg"></div>
    </div>
    <div class="clearfix"></div>
</div>
</div>

</div>

