<div class="submenu">
    <div class="row">

        <div class="col-xs-12">

            <ul class="submenudown">
                <li>
                    <a href="#/category/35">Vilandi</a>
<!--
<ul class="sub-submenu">
    <a href="#/category/42">
        <li> Vilandi Bangle</li>
    </a>
    <a href="#/category/39">
        <li>Vilandi Birdal Rings</li>
    </a>
    <a href="#/category/37">
        <li>Vilandi Earings</li>
    </a>
    <a href="#/category/38">
        <li>Vilandi Finger Rings</li>
    </a>
    <a href="#/category/36">
        <li>Vilandi Kada</li>
    </a>
    <a href="#/category/41">
        <li>Vilandi Pendant Set</li>
    </a>
    <a href="#/category/40">
        <li>Set</li>
    </a>
</ul>
-->
                </li>
                <li>
                    <a href="#/category/3">Bracelets</a>
                </li>
                <li>
                    <a href="#/category/4">Earrings</a>
                </li>
                <li>
                    <a href="#/category/5">Rings</a>
                </li>
            </ul>
        </div>

    </div>

</div>