<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							lylaloves...
                </span>

            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">



            </div>
        </div>
    </div>
    <div class="maincontent">
        <div class="row">
            <div class="col-md-3">
                <a href="http://instagram.com/lyla_loves" target="_blank"><div class="socialbig">instagram</div>
            </div>
            <div class="col-md-3">
                <a href="https://www.facebook.com/lylaloves" target="_blank"><div class="socialbig">facebook</div></a>
            </div>
            <div class="col-md-3">
               <a href="https://twitter.com/lyla_loves" target="_blank"><div class="socialbig">twitter</div></a>
            </div>
            <div class="col-md-3">
                <a href="#"><div class="socialbig">pinterest</div></a>
            </div>
        </div>

    </div>
</div>
