<div ng-controller="navigationctrl" class="bgrnd-nav">
    <div class="container">
        <div class="navigation fadeInDown" skrollr class="row marginer">
            <ul class="nav nav-pills mainmenu" ng-class="ishome">

                <li>
                    <a href="#/category/48">Designer</a>

                </li>
                <li ng-mouseover="showsub(0)" ng-mouseleave="hidesub(0)" style="position:relative;">
                    <a href="#/category/49">Collections</a>
<!--
                  <div class="" ng-include src="submenuval[0]" ng-show="submenu[0]">
</div>
-->
                </li>

                <li ng-mouseover="showsub(1)" ng-mouseleave="hidesub(1)" style="position:relative;">
                    <a href="#/category/44">New Arrivals</a>
                    <!--
                    <div class="megamenu megamenu2" ng-include src="submenuval[1]" ng-show="submenu[1]">
                    </div>
-->
                </li>
                <!--
 <li ng-mouseover="showsub(2)" ng-mouseleave="hidesub(2)">
    <a href="#/lookbook">LOOKBOOK</a>
    <div class="megamenu" ng-include src="submenuval[2]" ng-show="submenu[2]">
    </div>
</li>
-->
                <li>
                    <a class="" href="#/category/47">Store Locator</a>

                </li>

                <li ng-mouseover="showsub(6)" ng-mouseleave="hidesub(6)">
                    <a href="#/category/46">Gift Card</a>
                    <!--
                    <div class="megamenu" ng-include src="submenuval[6]" ng-show="submenu[6]">
</div>
-->
                </li>
            </ul>
        </div>
    </div>
</div>