<div class="submenu">
    <div class="row">

        <div class="col-xs-12">

            <ul class="submenudown">
                <li>
                    <a href="#/category/33">Vilandi</a>
                </li>
                <li>
                    <a href="#/category/3">Bracelets</a>
                </li>
                <li>
                    <a href="#/category/4">Earings</a>
                </li>
                <li>
                    <a href="#/category/5">Rings</a>
                </li>
            </ul>
        </div>

    </div>

</div>