<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							Returns
                </span>

            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">



            </div>
        </div>
    </div>
    <div class="maincontent">

        <h2 class="articleheader">Returns & Exchanges</h2>
        <div class="articlecontent">
            <p><strong>Returns are free</strong>
            </p>
          
            <p>Lyla really loves it when you fall in love with her products, but she understands that there will be times when you might want to return something. To get a full refund, please follow these steps:</p>
            <ol>
                <li>Email <a href="mailto:returns@lylaloves.co.uk">returns@lylaloves.co.uk</a> and let us know:</li>
            </ol>
            <ul>
                <li>Your Order Number</li>
                <li>Your reason for returning the item</li>
                <li>Whether you want an exchange or refund</li>
            </ul>
            <p>We will then email you a return label that will ensure that you can return the item(s) for free.</p>
            <ol start="2">
                <li>Return to the item to us within 14 days of placing the order to the following address:</li>
            </ol>
            <p><strong>LYLA LOVES</strong>
            </p>
            <p>Unit 11 Adrienne Avenue</p>
            <p>Adrienne Business Centre</p>
            <p>Southall Middlesex</p>
            <p>UB1 2FJ</p>
            <p>We will email you confirmation that we have received your return and process the refund on the next working day.</p>
            <p><strong>A Couple More Points </strong>
            </p>
            <ol>
                <li>For hygiene reasons, we cannot refund earrings or ear cuffs unless they are damaged or faulty.</li>
            </ol>
            <ol start="2">
                <li>Make sure the items are in the same condition as they were when you received them. We will be unable to issue you a refund if they are altered in any way.</li>
            </ol>
            <p>None of the above effects your statutory rights.</p>
        </div>
    </div>
</div>
