<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
							Home / 
							<span ng-repeat="br in breadcrumbs" ng-class="{'active':currentcategory == br.id}">
								<a href="#">{{searchresult}} <span ng-hide="{{$last}}">/</span> 
                </a>
                </span>
                </span>
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4">

<!--
                <div class="pull-right" ng-controller="filterctrl">
                    <a class="btn btn-default" ng-mouseover="showfilter(0)" ng-mouseleave="hidefilter(0)">Filters{{demo}}
                       <div class="" ng-include src="filterval[0]" ng-show="filters[0]"></div>
                    </a>
                    &nbsp;&nbsp;&nbsp;
                    <a class="btn btn-default" ng-mouseover="showfilter(1)" ng-mouseleave="hidefilter(1)">Sort By<div class="" ng-include src="filterval[1]" ng-show="filters[1]"></div></a>


                </div>
-->

            </div>
        </div>
    </div>
    <div class="maincontent">



        <div class="col-md-3 text-center" ng-repeat="product in find"  my-repeat-directive>
            <div class="product wow fadeInLeft" data-wow-delay="0.6s" data-wow-duration="1s" data-wow-offset="10" style="visibility:none;">
                <span ng-show="product.isnew=='1'" class="pronew"><img src="img/new.png"></span>
                   <a href="#/product/{{product.id}}">
                    <div class="img1">
                        <img src="{{product.image|imagepath}}" class="img">
                    </div>

                    <!--div class="img2">
                        <img src="{{product.productimage[1].image|imagepath}}" class="img">
                    </div-->
                </a>
				
                <div class="protitle">
                    <a href="#/product/{{product.id}}"><h5>{{product.name}}</h5></a>
                </div>
                <div class="proprice">
                    <a href="#/product/{{product.id}}">
                        <h5 ng-show="(accesslevel!=3)"> {{product.price|convertprice}}</h5>
                        <h5 ng-show="(accesslevel==3)"> {{product.wholesaleprice|convertprice}}</h5>
						<!--h5 class="discountprice">£ {{product.price}}</h5-->
                    </a>
                </div>
            </div>
        </div>
        
        



    </div>
</div>
