<div class="productset">
    <!--    <img src="img/3for2.jpg" alt="" class="butterfly" style="width: 60%;height: auto;">-->


</div>

<!--
<div class="productset">
    <img src="img/pick.png" alt="" style="margin: 20px auto 0;display: block;">
    <div class="imageset">
        <a ng-click="slidesetprev(showslideset1);">
            <div class="toggle left">
                <img src="img/leftbanner.png" alt="" ng-show="showslideset1==1">
            </div>
        </a>
        <a ng-click="slidesetnext(showslideset1);">
            <div class="toggle right">
                <img src="img/rightbanner.png" alt="" ng-show="showslideset1==0">
            </div>
        </a>
        <div style="overflow:hidden;height:230px;">
            <span ng-repeat="slider in sliders">
                <span ng-show="$index<5" class="pickweek">
                    <a href="#/product/{{slider.link}}"><img src="{{slider.image|imagepath}}" class="slideset1 animated slideInLeft" ng-show="showslideset1==0"></a>
                    <div class="proprice proprice2">
                        <a href="#/product/{{product.id}}">
                            <h5> {{slider.price|convertprice}}</h5>
                        </a>
                    </div>
                </span>
            <span ng-show="$index>=5" class="pickweek">
                    <a href="#/product/{{slider.link}}"><img src="{{slider.image|imagepath}}" class="slideset1 animated slideInRight" ng-show="showslideset1==1"></a>
                <div class="proprice proprice2">
                    <a href="#/product/{{product.id}}">
                        <h5> {{slider.price|convertprice}}</h5>
                    </a>
                </div>
                </span>
            </span>
        </div>
    </div>

</div>
-->

<!--
<div class="imageset">
    <a ng-click="slidesetprev(showslideset1);">
        <div class="toggle left">
            <img src="img/leftbanner.png" alt="" ng-show="showslideset1==1">
        </div>
    </a>
    <a ng-click="slidesetnext(showslideset1);">
        <div class="toggle right">
            <img src="img/rightbanner.png" alt="" ng-show="showslideset1==0">
        </div>
    </a>
    
    <div style="overflow:hidden;height:230px;">
        <span ng-repeat="slider in sliders">
                <span ng-show="$index<4" class="pickweek">
                    <div class="proprice proprice2">
                        <a href="#/product/{{product.id}}">
                            <h5> {{slider.name}}</h5>
                        </a>
                    </div>
                    <a href="#/product/{{slider.link}}"><img src="{{slider.image|imagepath1}}" class="slideset1 animated slideInLeft" ng-show="showslideset1==0"></a>
                   
                </span>
        <span ng-show="$index>=4" class="pickweek">
                    <div class="proprice proprice2">
                    <a href="#/product/{{product.id}}">
                        <h5> {{slider.name}}</h5>
                    </a>
                </div>
                    <a href="#/product/{{slider.link}}"><img src="{{slider.image|imagepath1}}" class="slideset1 animated slideInRight" ng-show="showslideset1==1"></a>
                
                </span>
        </span>



    </div>
</div>
-->

