<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
                    Home / Thank You
                </span>
                </span>
            </div>

        </div>

        <div class="container cart text-center" style="min-height:300px">
<h3>Purchase Complete</h3>
<p>Thank you for shopping.</p>   <br>
<p><a href="#/home"><button class="btn btn-default">Continue Shopping</button></a></p>

        </div>
    </div>

</div>