<div class="content">
    <div class="contenttop">
        <div class="row">
            <div class="col-xs-4">
                <span class="breadcrumb">
                    Home / Register</a>
                </span>
                </span>
            </div>

        </div>

        <div class="container cart">

            <div class="row">
                <div class="col-xs-5">
                    <h4>Resgister As Wholesaler</h4>
                    <h5>{{msgr}}{{demo}}</h5>
                    <p>
                        <input type="text" class="form-control" ng-model="register.firstname" placeholder="First Name*" required>
                    </p>
                    <p>
                        <input type="text" class="form-control" ng-model="register.lastname" placeholder="Last Name*" required>
                    </p>
                    <p>
                        <input type="text" class="form-control" ng-model="register.phone" placeholder="Phone Number*" required>
                    </p>
                    <p>
                        <input type="email" class="form-control" ng-model="register.email" placeholder="Email Address*" required>
                    </p>
                    <p>
                        <input type="password" class="form-control" ng-model="register.password" placeholder="Password*" required>
                    </p>
                    <p>
                        <input type="password" class="form-control" ng-model="confirmpassword" placeholder="Re-enter Password*" required>
                    </p>
                    <p><span>Required fields *</span><a class="btn btn-primary pull-right" ng-click="wholesalersignup(register)" href="">Signup</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

</div>